body {
  text-align: center;
  background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT7bgNpKjC6klP6F9lEWTiSM0AicBpP7BLbIGOP3sWObrfxdaZbSg");
  background-position: center;
  font-family: helvetica;
}
h1 {
  font-size: 50px;
}
p {
  font-size: 40px;
}
